.breadcrumb{
	background-color: white;
	padding-left: 0px;
}
/* POSTS */
.card-title{
	padding-top: 5px;
	
	color: black;
	font-weight: bold;
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
	word-wrap: break-word;
}

.card-subtitle{
	font-size: 0.9rem;
}

/* POST DETAILS */
article > .card-title{
	margin-bottom: 20px;
	
	font-weight: bold;
}

article .card-text{
	margin-top: 40px;
}

/* post FORM */
.btn{
	margin-top: 10px;
}