
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
	<header class="layout-cabecalho  layout-cabecalho--home">
		<!-- As a link -->
		<nav class="navbar navbar justify-content-between" style=" font-family: Ubuntu Condensed;">
		  <a class="navbar-brand" style="font-size: 1.8rem; font-weight: bold; color: white;" href="/posts">BuritiScript</a>
		
		    <a href="/newPost">
		    	<button class="btn btn-primary" type="submit">Novo post</button>
		  	</a>
		</nav>
	</header>
    
</html>