<!DOCTYPE html>
<html>
<head>
	<title>CodeBlog</title>
	<!--CSS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/components.css">
</head>
<body>
	<header>
		<!-- As a link -->
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="#">CodeBlog</a>
		</nav>
	</header>
		
	<section>
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page">Posts</li>
		 		</ol>
			</nav>
			
			<div class="card border-primary mb-3" style="max-width: 18rem;">
				<div class="card-header">
					Header
				</div>
			  	<div class="card-body text-primary">
			    	<h5 class="card-title">Primary card title</h5>
			    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  	</div>
			</div>
			
		</div>
	</section>
</body>
</html>