<!DOCTYPE html>
<html
	xmlns:th="http://thymeleaf.org"
>
<head>
	<title>CodeBlog</title>
	<!--CSS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/components.css">
</head>
<body>
	<header>
		<!-- As a link -->
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="#">CodeBlog</a>
		</nav>
	</header>
		
	<section>
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page">Posts</li>
					<li class="breadcrumb-item active" aria-current="page">Novo Post</li>
		 		</ol>
			</nav>
			
			<div class="card border-primary mb-3" th:each="post : ${posts}">
				<div class="card-header">
					<div class="card-title">
						<a 	th:href="@{/posts/{id}(id=${post.id})}">
							<h3>
								<span th:text="${post.titulo}">
								</span>
							</h3>
						</a>
					</div>
				</div>
				
			  	<div class="card-body text-primary">
			    	<h5 class="card-subtitle mb-2 text-muted">
			    		<span th:text="${post.autor}"></span>
			    		<span th:text="${post.data}"></span>
			    	</h5>
			    	<p class="card-text">
				    	<span th:utext="${#strings.abbreviate(post.texto,100)}">
				    	</span>
			    	</p>
			  	</div>
			  	
			</div>
			
		</div>
	</section>
</body>
</html>