<!DOCTYPE html>
<html
	xmlns:th="http://thymeleaf.org"
>
<head>
	<title>CodeBlog</title>
	<!--CSS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/components.css">
</head>
<body>
	<header>
		<!-- As a link -->
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="#">CodeBlog</a>
		</nav>
	</header>
		
	<section>
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page">Post</li>
		 		</ol>
			</nav>
			
		</div>
	</section>
</body>	
</html>